<div class="admin-sidebar" data-equalizer-watch>
  <ul id="admin_menu" data-accordion-menu>


    <!-- Desafíos -->
    <li class="section-title">
      <a href="#">
        <span class="icon-checkmark-circle"></span>
        <strong><%= t("admin.menu.title_problems") %></strong>
      </a>
      <ul <%= "class=is-active" if menu_problems? %>>
        <li <%= "class=active" if controller_name == "problems" %>>
          <%= link_to t("admin.menu.view_problems"), admin_problems_path %>
        </li>
        <li <%= "class=active" if controller_name == "problems" %>>
          <%= link_to t("admin.problems.index.create"), new_admin_problem_path %>
        </li>
        <% Problem.all.each do |challenge| %>
          <li>
            <%= link_to challenge.title, admin_problem_path(challenge) %>
          </li>
        <% end %>
      </ul>
    </li>


    <li class="section-title" <%= 'class=active' if controller_name == 'users' %>>
      <%= link_to admin_users_path do %>
        <span class="icon-user"></span>
        <strong>Usuarios</strong>
      <% end %>
    </li>

    <li class="section-title">
      <a href="#">
        <span class="icon-organizations"></span>
        <strong><%= t("admin.menu.title_profiles") %></strong>
      </a>

      <ul <%= "class=is-active" if menu_profiles? %>>
        <li <%= 'class=active' if controller_name == 'administrators' %>>
          <%= link_to t('admin.menu.administrators'), admin_administrators_path %>
        </li>
        <li <%= 'class=active' if controller_name == 'moderators' %>>
          <%= link_to t('admin.menu.moderators'), admin_moderators_path%>
        </li>
        <li <%= "class=active" if controller_name == "officials" %>>
          <%= link_to t("admin.menu.officials"), admin_officials_path %>
        </li>
        <!-- <li <%= 'class=active' if controller_name == 'managers' %>>
          <%= link_to t('admin.menu.managers'), admin_managers_path %>
        </li> -->
      </ul>
    </li>

    <li class="section-title">
      <a href="#">
        <span class="icon-settings"></span>
        <strong><%= t("admin.menu.site_customization.title") %></strong>
      </a>

      <ul <%= "class=is-active" if (menu_settings? || menu_images?) %>>
        <li <%= "class=active" if controller_name == "geozones" %>>
          <%= link_to "Gestionar distritos", admin_tags_path %>
        </li>
        <li <%= "class=active" if controller_name == "tags" %>>
          <%= link_to "Etiquetas", admin_tags_path %>
        </li>
        <li <%= "class=active" if controller_name == "settings" %>>
          <%= link_to "Configurar", admin_settings_path %>
        </li>
      </ul>
    </li>


    <li class="section-title">
      <a href="#">
        <span class="icon-eye"></span>
        <strong><%= t("admin.menu.title_moderated_content") %></strong>
      </a>
      <ul <%= "class=is-active" if menu_moderated_content? %>>
        <li <%= "class=active" if controller_name == "proposals" %>>
          <%= link_to t("admin.menu.hidden_proposals"), admin_proposals_path %>
        </li>

        <% if feature?(:debates) %>
          <li <%= "class=active" if controller_name == "debates" %>>
            <%= link_to t("admin.menu.hidden_debates"), admin_debates_path %>
          </li>
        <% end %>

        <li <%= "class=active" if controller_name == "comments" %>>
          <%= link_to t("admin.menu.hidden_comments"), admin_comments_path %>
        </li>
      </ul>
    </li>



    <% if feature?(:spending_proposals) %>
      <li class="section-title">
        <a href="#">
          <span class="icon-budget"></span>
          <strong><%= t("admin.menu.title_budgets") %></strong>
        </a>
        <ul <%= "class=is-active" if menu_budget? %>>
          <li <%= "class=active" if controller_name == "spending_proposals" %>>
            <%= link_to t("admin.menu.spending_proposals"), admin_spending_proposals_path %>
          </li>
        </ul>
      </li>
    <% end %>

    <!-- <li class="section-title">
      <a href="#">
        <span class="icon-banner"></span>
        <strong><%= t("admin.menu.title_banners") %></strong>
      </a>
      <ul <%= "class=is-active" if menu_banners? %>>
        <li <%= "class=active" if controller_name == "banners" %>>
          <%= link_to t("admin.menu.banner"), admin_banners_path %>
        </li>
      </ul>
    </li> -->

    <!-- <li class="section-title">
      <a href="#">
        <span class="icon-settings"></span>
        <strong><%= t("admin.menu.title_site_customization") %></strong>
      </a>
      <ul <%= "class=is-active" if menu_profiles? %>>
        <li <%= "class=active" if controller_name == "pages" %>>
          <%= link_to t("admin.menu.site_customization.pages"), admin_site_customization_pages_path %>
        </li>
        <li <%= "class=active" if controller_name == "images" %>>
          <%= link_to t("admin.menu.site_customization.images"), admin_site_customization_images_path %>
        </li>
        <li <%= 'class=active' if controller_name == 'content_blocks' %>>
          <%= link_to t("admin.menu.site_customization.content_blocks"), admin_site_customization_content_blocks_path%>
        </li>
      </ul>
    </li> -->


    <!-- <li class="section-title">
      <%= link_to admin_stats_path do %>
      <span class="icon-settings"></span>
        <strong>Estadísticas</strong>
      <% end %>
    </li> -->


    <% if feature?(:signature_sheets) %>
      <li class="section-title" <%= "class=active" if controller_name == "signature_sheets" %>>
        <%= link_to admin_signature_sheets_path do %>
          <strong><%= t("admin.menu.signature_sheets") %></strong>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
