<h4 class="small blue total-votes-text"> Etapa: <%= problem.project.status %> </h4>
<h4>
<%= link_to problem.title, proposals_path(:challenge => problem.id) %> </h4>
<p class="">
  <i class="fa fa-map-marker"></i> <%= problem.geozones_name %> <span class="line-text">|</span>
  <i class="fa fa-calendar"> </i> <%= l problem.created_at.to_date %>
</p>
<div class="proposal-description">
  <p><%= problem.summary %><span><a href="#"><%= link_to ' Ver más', proposals_path(:challenge => problem.id) %></a></span></p>
</div>

<div class="row">
  <div class="bg-blue padding  white text-center">
    <% if problem.valid %>
      <span><%= t("proposals.index.remaining_time_1") %> <%= distance_of_time_in_days(problem.ends_at, Date.today) %> <%= t("proposals.index.remaining_time_2") %>
      <%= link_to t("proposals.index.start_proposal"), new_proposal_path(:problem => problem.id), class: 'button hollow primary' %>
    <% else %>
      Proceso de recepción de propuestas cerrado
    <% end %>
  </div>
</div>
