<div class="small-6 columns">
  <div class="problem-box">
    <div class="padding">
      <p class="small-without-line blue epigraph-small"> Etapa: <%= problem.project.status %> </p>
      <h5><%= link_to problem.title, proposals_path(:challenge => problem.id) %> </h5>
      <p class="details">
        <i class="fa fa-map-marker"></i> <%= problem.geozones_name %> <span class="line-text">|</span>
        <i class="fa fa-calendar"> </i> <%= l problem.created_at.to_date %>
      </p>
      <div class="proposal-description">
        <p><%= problem.summary.truncate(130, :omission => "...") %><span><a href="#"><%= link_to ' Ver más', proposals_path(:challenge => problem.id) %></a></span></p>
      </div>
    </div>
    <div class="fixed-bottom">
    <!-- Para etapa propuestas -->
    <% if problem.project.status=='Propuestas' %>
    <div class="bg-blue padding-small white text-center">
        <% if problem.valid %>
          <%= t("proposals.index.remaining_time_1") %> <span class="counter"> <%= distance_of_time_in_days(problem.ends_at, Date.today) %></span><%= t("proposals.index.remaining_time_2") %>
        <% else %>
          Proceso de recepción de propuestas cerrado
        <% end %>
      </div>
    <!-- Para etapa diseño -->
    <% elsif problem.project.status=='Diseño' %>
    <!-- TODO: agregar funcion que dibuje la fecha del proximo taller -->
      <div class="bg-white text-center padding-small">
        Próximo taller de diseño: <span class="counter">03/11/17</span>
      </div>
    <% end %>
      <div class="padding text-right">
        <!-- Para etapa propuestas -->
        <% if problem.project.status=='Propuestas' %>
        <%= link_to t("Ver desafío"), proposals_path(:challenge => problem.id), class: 'button tiny secondary' %>
          <% if problem.valid %>
            <%= link_to t("proposals.index.start_proposal"), new_proposal_path(:problem => problem.id), class: 'button tiny' %>
          <% end %>
        <!-- Para etapa talleres -->
        <% elsif problem.project.status=='Diseño' %>
          <%= link_to t("Ver información del taller"), project_design_events_path(:project_id => problem.project.id ,:problem_id => problem.id), class: 'button tiny' %>
        <!-- Para etapa implementacion -->
        <% elsif problem.project.status=='Implementación' %>
          <%= link_to t("Hacer seguimiento"), project_reports_path(:project_id => problem.project.id ,:problem_id => problem.id), class: 'button tiny' %>
        <!-- Para etapa evaluacion -->
        <% elsif problem.project.status=='Evaluación' %>
          <%= link_to t("Evaluar el proceso"), project_evaluations_path(:project_id => problem.project.id ,:problem_id => problem.id), class: 'button tiny' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
