
<div class="text-width">

<h1> Desafíos </h1>
<div class="text-right">
  <ul class="menu simple">
    <!-- TODO que estos checkbox funcionen -->
    <% @active_filters.each do |filter| %>
      <% if @current_filter == filter %>
        <%= link_to(current_path_with_query_params(filter: filter, page: 1)) do %>
          <li class="checkbox"><label><input type="checkbox" checked=1><%= t("problems.index.filters.#{filter}") %></label></li>
        <% end %>
      <% else %>
        <%= link_to(current_path_with_query_params(filter: filter, page: 1)) do %>
            <li class="checkbox"><label><input type="checkbox"> <%= t("problems.index.filters.#{filter}") %> </label> </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="bg-light-gray padding-small challenges-menu">
  <div class="row">
    <ul class="menu">
      <div class="small-6 columns">
        <li>
          <div class="row">
            <div class="small-4 columns">
              <label for="right-label" class="text-right">Filtrar por</label>
            </div>
            <div class="small-8 columns">
              <!-- TODO filtro por etapa -->
              <select>
                <% @status_filters.each do |filter| %>
                  <option value="/implementation"> <%= filter %> </option>
                <% end %>
              </select>
            </div>
          </div>
        </li>
      </div>
      <div class="small-6 columns">
        <li>
          <div class="row">
            <div class="small-4 columns">
              <label for="right-label" class="text-right">Filtrar por</label>
            </div>
            <div class="small-8 columns">
              <!-- TODO filtro por comunidad afectada -->
              <select>
                <option value="husker">Comunidad afectada</option>
                <option value="husker">Levantamiento Propuestas</option>
                <option value="starbuck">Talleres de diseño</option>
                <option value="hotdog">Implementación</option>
                <option value="apollo">Evaluación</option>
              </select>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>

  <div class="row challenges">
    <% @problems.each_with_index do |problem, index| %>
      <% if (index)%2==0 %>
    </div><div class="row">
      <% end %>
      <%= render "problem", problem: problem %>
    <% end %>
  </div>

</div>
