
<div class="text-width">

<h1> Desafíos </h1>
<div class="text-right">
  <ul class="menu simple">
    <!-- TODO que estos checkbox funcionen -->
    <% @active_filters.each do |filter| %>
      <% if @current_filter == filter %>
        <%= link_to(current_path_with_query_params(filter: filter, page: 1)) do %>
          <li class="checkbox"><label><input type="checkbox" checked=1><%= t("problems.index.filters.#{filter}") %></label></li>
        <% end %>
      <% else %>
        <%= link_to(current_path_with_query_params(filter: filter, page: 1)) do %>
            <li class="checkbox"><label><input type="checkbox"> <%= t("problems.index.filters.#{filter}") %> </label> </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>



<div class="bg-light-gray padding-small challenges-menu">
  <div class="row">
    <ul class="menu">
      <div class="small-6 columns">
        <li>
          <div class="row">
            <div class="small-4 columns">
              <label for="right-label" class="text-right">Filtrar por</label>
            </div>
            <div class="small-8 columns">
              <!-- TODO filtro por etapa -->
              <%= select_tag "status_filters", "<option selected disabled>Etapa</option><option>Propuestas</option><option>Diseño</option><option>Implementación</option><option>Evaluación</option>".html_safe %>
            </div>
          </div>
        </li>
      </div>
      <div class="small-6 columns">


        <script>
            $(function(){
              $('#status_filters').bind('change', function () {
                  var status = $(this).val();
                  if (status == "Implementación") {
                    status = "implementation";
                  } else if (status == "Diseño") {
                    status = "design";
                  } else if (status == "Propuestas") {
                    status = "proposal";
                  } else {
                    status = "evaluation"
                  }
                  var url = "/problems?filter=" + status + "&page=1"
                  if (url) {
                      window.location.replace(url);
                  }
                  return false;
              });
            });
        </script>


        <li>
          <div class="row">
            <div class="small-4 columns">
              <label for="right-label" class="text-right">Filtrar por</label>
            </div>
            <div class="small-8 columns">
              <!-- TODO filtro por comunidad afectada -->
              <select>
                <option selected disabled>Comunidad afectada</option>
              </select>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>

  <div class="row challenges">
    <% @problems.each_with_index do |problem, index| %>
      <% if (index)%2==0 %>
    </div><div class="row">
      <% end %>
      <%= render "problem", problem: problem %>
    <% end %>
  </div>

</div>
