
<div class="proposal-form row">
  <div class="small-12 medium-12 column">
    <%= render "shared/back_link" %>
  </div>
</div>


<div class="text-width">
  <%= render "shared/problem", problem: @problem %>

  <h3 class="page-title"><%= t("titles.create_proposal") %></h3>
  <h4 class="page-title">PASO 1: Conoce el desafío</h4>

  <%= render "problems/problem", problem: @problem %>

  <%= link_to t("proposals.index.start_proposal"), new_proposal_path(:problem => @problem.id), class: 'button primary float-right' %>

</div>
