
<div class="proposal-form row">
  <div class="small-12 medium-12 column">
    <%= render "shared/back_link" %>
  </div>
</div>

<div class="text-width">
  <div class="small blue">DESAFÍO PARA <%= @problem.geozones_name%></div>
  <h3> <%= @problem.title %> </h3>
  <p> <%= @problem.summary %> </p>

  <% if @problem.valid %>
    <span><%= t("proposals.index.remaining_time_1") %> <span class="counter-bg"><%= distance_of_time_in_days(@problem.ends_at, Date.today) %></span> <%= t("proposals.index.remaining_time_2") %>
    <%= link_to t("proposals.index.start_proposal"), new_proposal_path(:problem => @problem.id), class: 'button hollow primary' %>
  <% else %>
    Proceso de recepción de propuestas cerrado
  <% end %>


  <%= render partial: 'proposals/proposal', collection: @proposals %>
  <%= paginate  @proposals %>

</div>
