<fieldset class="rating" id="<%=evaluation%>">
    <input type="radio" id="star5-<%=evaluation%>" name="evaluation[<%=evaluation%>]" value="5" /><label class = "full" for="star5-<%=evaluation%>" title="Excelente - 5 estrellas"></label>
    <input type="radio" id="star4-<%=evaluation%>" name="evaluation[<%=evaluation%>]" value="4" /><label class = "full" for="star4-<%=evaluation%>" title="Muy bueno - 4 estrellas"></label>
    <input type="radio" id="star3-<%=evaluation%>" name="evaluation[<%=evaluation%>]" value="3" /><label class = "full" for="star3-<%=evaluation%>" title="Bueno - 3 estrellas"></label>
    <input type="radio" id="star2-<%=evaluation%>" name="evaluation[<%=evaluation%>]" value="2" /><label class = "full" for="star2-<%=evaluation%>" title="Regular - 2 estrellas"></label>
    <input type="radio" id="star1-<%=evaluation%>" name="evaluation[<%=evaluation%>]" value="1" /><label class = "full" for="star1-<%=evaluation%>" title="Malo - 1 estrella"></label>
</fieldset>
