<div class="text-width">

  <%= render "shared/problem", problem: @problem %>

  <br>
  <h3 class="text-left"> Formulario de Evaluación <span class="float-right"> 2/3 </span> </h3>
  <br>

  <div class="callout large">

  <%= simple_form_for @evaluation, url: wizard_path do |f| %>

  <h5> Evalúa del 1 al 7, donde 1 es “pésimo” y 7 “excelente”, cada una de las etapas en las que participaste: </h5>
  <br>

    <% if @evaluation.proposal_participation %>
      <div class="row">
        <div class="small-12 medium-12 column">
          <%= f.input :proposal_evaluation %>
        </div>
      </div>
    <% end %>

    <% if @evaluation.proposal_web_participation %>
      <div class="row">
        <div class="small-12 medium-12 column">
          <%= f.input :proposal_web_evaluation %>
        </div>
      </div>
    <% end %>

    <% if @evaluation.design_participation %>
      <div class="row">
        <div class="small-12 medium-12 column">
          <%= f.input :design_evaluation %>
        </div>
      </div>
    <% end %>

    <% if @evaluation.design_participation_2 %>
      <div class="row">
        <div class="small-12 medium-12 column">
          <%= f.input :design_evaluation_2 %>
        </div>
      </div>
    <% end %>

    <% if @evaluation.implementation_participation %>
      <div class="row">
        <div class="small-12 medium-12 column">
          <%= f.input :implementation_evaluation %>
        </div>
      </div>
    <% end %>

    <% if @evaluation.implementation_participation_2 %>
      <div class="row">
        <div class="small-12 medium-12 column">
          <%= f.input :implementation_evaluation_2 %>
        </div>
      </div>
    <% end %>

    <%= hidden_field_tag 'evaluation_id', @evaluation.id %>
    <%= hidden_field_tag 'problem_id', @problem.id %>
    <%= hidden_field_tag 'project_id', @problem.id %>

    <div class="row">
      <div class="small-12 medium-12 column text-right">
        <%= f.submit "Siguiente",
                     class: "button" %>
      </div>
    </div>

  <% end %>

  </div>

</div>
