<div class="breadcrumbs grid-container fluid details">
  <div class="grid-x">
    <div class="small-12 medium-12 cell">
      <%= render "shared/back_link" %>
    </div>
  </div>
</div>

<section class="page-section">
  <div class="grid-container">
      <%= render "shared/problem", problem: @problem %>
      <div class="mt-60 mb-60">
        <h5 class="mb-60">A través de talleres participativos, la comunidad y el municipio diseñarán una propuesta final y un plan de trabajo para llevar a cabo su implementación en conjunto.</h5>
        <% @design_events.each do |d| %>
        <div class="bg-blue white padding text-center">
          <i class="fa fa-calendar"> </i> Próximo taller: <%= d.starts_at.strftime("%d/%m/%Y %H:%M") %>
        </div>
        <h5><%= d.name %></h5>
        <p class="details">
          <i class="fa fa-calendar"> </i> <%= d.starts_at.strftime("%d/%m/%Y %H:%M") %>
          <span class="line-text">|</span> <i class="fa fa-map-marker"> </i> <%= d.place %>
          <% unless d.pax.nil? %>
          <span class="line-text">|</span> <i class="fa fa-users"> </i> <%= d.pax %> asistentes
          <% end %>
          <% if d.document.exists?  %>
          <span class="line-text">|</span>
          <%= link_to "Registro del taller", d.document.url%>
          <% end %>
        </p>


        <p>
          <% if !d.summary.empty? %> <%= d.summary %>
          <% else %> <%= d.description %>  <% end %>
        </p>

        <% if d.pictures.any? %>

        <!-- Carousel -->
        <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
          <div class="orbit-wrapper">
            <div class="orbit-controls">
              <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
              <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
            </div>


            <ul class="orbit-container">
              <li class="is-active orbit-slide">
                <div class="grid-x">
              <% d.pictures.each_with_index do |pic, index| %>
                  <% if ((index)%2==0 && index != 0) %>
                 <li class="orbit-slide"> <div class="grid-x grid-margin-x">
                  <% end %>
                  <div class="cell small-12 medium-6">
                    <%= image_tag pic.image.url %>
                  </div>
                  <% end %>
              </div> </li>
            </ul>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>

  </div>

  <hr>

</section>
