<div class="no-margin-top">
  <div class="hero">
<div class="panel-pane pane-fieldable-panels-pane pane-current-1 pane-bundle-complex-block pane--hero-block hiveboxx-waypoints-processed hiveboxx-cta-processed pane--waypoint" id="pane-id-1">


  <div class="pane-content">
    <div class="ds-1col-stacked fieldable-panels-pane view-mode-full clearfix">


  <div class="group-header">
    <div class="field field--name-field-background-image field--type-image field--label-hidden"><div class="field__items"><div class="field__item even"><%= image_tag(image_path_for('hero01.png')) %></div></div></div>  </div>

  <div class="group-ds_content">
    <div class="field field--name-field-pre-title field--type-text field--label-hidden row">
      <div class="field__items large-8 large-offset-2 columns">
        <div class="field__item even">
          <h1 class="white text-center"> La comunidad decide el futuro de sus barrios </h1>
        </div>
        <h5 class="white text-center"> La Municipalidad de Peñalolén sabe que eres tú quien mejor conoce la comuna y sabe lo que necesita, por eso te invitamos a proponer, diseñar y construir en conjunto con los funcionarios y funcionarias municipales una mejor comuna. </h5>
        <div class="text-center">
          <%= link_to Setting["home.info-go_to"], Setting["home.info-go_to_link"], class: "button primary large" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-3 columns hero-about">
    <div class="small white">
      Qué es abre
    </div>
    <p class="white">Abre es una mezcla de herramientas digitales y metodológicas que acercan el trabajo de municipios a vecinas y vecinos, potenciando la construcción colectiva de barrios y comunidades.</p>
  </div>

</div>

  </div>


    </div>
  </div>
</div>
  <!-- <div class="no-margin-top">

  <div class="hero">

      <div class="hero-image">
        <div class="field__items"><div class="field__item even"><img src="https://www.hiveboxx.com/sites/default/files/home-1.jpg" width="1866" height="1004" alt=""></div></div>
        <div class="row all-screen collapse">
          <div class="small-12 medium-12 large-10 large-offset-1 columns">
            <div class="home-info">



            </div>
          </div>
        </div>
      </div>
    </div>

</div> -->

  <main>

<div class="row all-screen collapse how-it-works">
  <div class="large-3 columns">
    <div class="padding bg-gray">
      <h2 class="white">
        <%= t("welcome.how_work") %>
      </h2>
    </div>
  </div>
  <div class="large-9 columns">
    <div class="row bg-light-gray collapse">
      <div class="small-12 medium-6 large-3 columns">
        <div class="como01"></div>
        <div class="row collapse">
          <h2 class="small-3 medium-3 large-3 column num">
            1
          </h2>
          <div class="small-9 medium-9 large-9 column">
            <p><%= t("welcome.proposal.description") %></p>
          </div>
        </div>
      </div>
      <div class="small-12 medium-6 large-3 columns">
        <div class="como02"></div>
        <div class="row collapse">
          <h2 class="small-3 medium-3 large-3 column num">
          2
          </h2>
          <div class="small-9 medium-9 large-9 column">
            <p><%= t("welcome.design.description") %></p>
          </div>
        </div>
      </div>
      <div class="small-12 medium-6 large-3 columns">
        <div class="como03"></div>
        <div class="row collapse">
          <h2 class="small-3 medium-3 large-3 column num">
            3
          </h2>
          <div class="small-9 medium-9 large-9 column">
            <p><%= t("welcome.do.description") %></p>
          </div>
        </div>
      </div>
      <div class="small-12 medium-6 large-3 columns">
        <div class="como04"></div>
        <div class="row collapse">
          <h2 class="small-3 medium-3 large-3 column num">
            4
          </h2>
          <div class="small-9 medium-9 large-9 column">
            <p><%= t("welcome.project.description") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


    <div class="home-proposals">
      <% if Proposal.all.any? %>
      <h2 class="text-center home-title"> <%= t("welcome.proposals.title") %> </h2>
      <div class="text-center">
        <%= link_to t("welcome.proposals.link_to"), proposals_path, class: 'button primary' %>
      </div>
      <div class="row">
        <div class="small-12 medium-4 column home-proposal">
          <%= render "proposal", proposal: most_voted_proposals.first, proposal_type: "Más apoyadas", proposal_class: "proposal-type most-voted" %>
        </div>
        <div class="small-12 medium-4 column home-proposal">
          <%= render "proposal", proposal: Proposal.sort_by_created_at.first, proposal_type: "Más nuevas", proposal_class: "proposal-type most-activated" %>
        </div>
        <div class="small-12 medium-4 column home-proposal">
          <%= render "proposal", proposal: Proposal.sort_by_most_commented.first, proposal_type: "Más activas", proposal_class: "proposal-type newest" %>
        </div>
      </div>
      <% end %>
    </div>

</main>
