<div class="design-event-nested" id="panel2d">
  <%= f.input :name %>
  <%= f.input :place %>
  <%= f.input :pax %>
  <%= f.input :starts_at %>
  <%= f.input :description %>
  <%= f.input :summary %>
  <!-- <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div> -->


  <div class="form-input" >
    <%= f.fields_for :pictures do |ph| %>
      <%= render 'picture_fields', f: ph  %>
    <% end %>
    <%= link_to_add_association 'Agregar foto', f, :pictures %>
  </div>


  <%= link_to_remove_association "Eliminar taller de diseño", f, {wrapper_class: 'design-event-nested'} %>
</div>
