<% provide :title do %><%= @poll.name %><% end %>

  <div class="text-width">
    <%= back_link_to polls_path %>

    <h1 class="title-page"><%= @poll.name %></h1>
    <p> <%= @poll.description %></p>
    <ul class="no-bullet margin-top tags">
      <% @poll.geozones.each do |g| %>
        <li class="inline-block"><span><%= g.name %></span></li>
      <% end %>
    </ul>

    <%= render "callout" %>
  </div>

  <div class="row">
    <div class="bg-gray padding collapse small-12 medium-10 large-9 columns">

    </div>

  </div>
  <div class="row">
    <div class="small-12 medium-offset-7 medium-5 large-offset-7 large-5 columns bg-orange padding overlap white">
      <h4 class="white text-center">Quedan <span class="counter num"><%= distance_of_time_in_days(@poll.ends_at, Date.today) %></span> días para votar</h4>
    </div>
  </div>

  <div class="text-width">
    <div class="small-12 medium-12 column">
      <% @questions.each do |question| %>
        <%= render 'polls/questions/question', question: question %>
      <% end %>
    </div>

    <!-- <aside class="small-12 medium-3 column">
      <div id="social-share" class="sidebar-divider"></div>
      <h2><%= t("proposals.show.share") %></h2>
      <div class="social-share-full">
        <%= social_share_button_tag("#{@poll.name} #{setting['twitter_hashtag']}") %>
        <% if browser.device.mobile? %>
          <a href="whatsapp://send?text=<%= @poll.name %> <%= poll_url %>" data-action="share/whatsapp/share">
            <span class="icon-whatsapp whatsapp"></span>
          </a>
        <% end %>
      </div>
    </aside> -->
  </div>
