<div class="text-width" id="<%= dom_id(project) %>">
	<p class="small-without-line blue text-center"> proyecto </p>
	<h2 class="text-center"><%= project.name %></h2>
	<% unless project.responsible_official_name.nil? %>
		<p class="text-center"> Funcionario encargado: <%= project.responsible_official_name %> <a href="mailto:<%= project.responsible_official_mail%>?Subject=Abre"><%= project.responsible_official_mail%> </a></p>
	<% end %>

	<!-- Timeline -->
<section class="cd-horizontal-timeline">
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events" style="width:100%">
				<ol class="no-bullet">
					<li><a href="#0" data-date="01/01/2017" class="selected">Propuesta</a></li>
					<li><a href="#0" data-date="01/06/2017">Diseño</a></li>
					<li><a href="#0" data-date="01/08/2017">Implementación</a></li>
					<li><a href="#0" data-date="01/12/2017">Evaluación</a></li>
					<!-- other dates here -->
				</ol>

				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->

		<ul class="cd-timeline-navigation no-bullet">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-timeline-navigation -->
	</div> <!-- .timeline -->

	<div class="events-content">
		<ol class="no-bullet">
			<li class="selected" data-date="01/01/2017">
				<h3><%= title_proposals_section(project) %></h3>
				<p>Porcentaje de aprobación: </p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
				<% project.proposals.each do |p| %>
					<p> <strong>
						<%= link_to proposal_path(p) do %>
						<%= p.title %>:
						<% end %>
					</strong> <%= p.summary %> | <%= p.cached_votes_up %> votos</p>
				<% end %>
			</li>

			<li data-date="01/03/2017">
				<h3>Diseño</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<% project.design_events.each do |d| %>
					<p>
						<i class="fa fa-calendar"> </i> <%= d.starts_at.strftime("%d/%m/%Y %H:%M") %>
							| <i class="fa fa-map-marker"> </i> <%= d.place %>
						<% unless d.pax.nil? %>
							| <i class="fa fa-users"> </i> <%= d.pax %> asistentes
						<% end %>
					</p>
					<p> <%= d.name %>:
						<% if !d.summary.empty? %> <%= d.summary %>
						<% else %> <%= d.description %>  <% end %>
					</p>
				<% end %>
			</li>

			<li data-date="01/05/2017">
				<h3>Implementación</h3>
				<p>
					Este proyecto aún no ha comenzado su implementación.
				</p>
			</li>

			<li data-date="01/10/2017">
				<h3>Evaluación</h3>
				<p>
					Una vez se termine la implementación comenzará la etapa de evaluación del proyecto.
				</p>
			</li>

			<!-- other descriptions here -->
		</ol>
	</div> <!-- .events-content -->
</section>
<!-- End timeline -->

</div>
