<div class="text-width" id="<%= dom_id(project) %>">
	<p class="small-without-line blue text-center"> proyecto </p>
	<h2 class="text-center"><%= project.name %></h2>
	<% unless project.responsible_official_name.empty? %>
		<p class="text-center"> Funcionario encargado: <%= project.responsible_official_name %> <a href="mailto:<%= project.responsible_official_mail%>?Subject=Abre"><%= project.responsible_official_mail%> </a></p>
	<% end %>
	<ul class="tabs" data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge="500" data-tabs id="deeplinked-tabs">
	  <li class="tabs-title is-active"><a href="#<%= dom_id(project) %>panel1d" aria-selected="true"> <%= title_proposals_section(project) %> </a></li>
	  <li class="tabs-title"><a href="#<%= dom_id(project) %>panel2d">Talleres de Dise침o</a></li>
	  <!-- <li class="tabs-title"><a href="#<%= dom_id(project) %>panel3d"><%= t("admin.projects.edit.menu.implementation") %></a></li>
	  <li class="tabs-title"><a href="#<%= dom_id(project) %>panel4d"><%= t("admin.projects.edit.menu.evaluation") %></a></li> -->
	</ul>

	<div class="tabs-content" data-tabs-content="deeplinked-tabs">

		<div class="tabs-panel is-active" id="<%= dom_id(project) %>panel1d">
			<div class="row">
				<h4><%= title_proposals_section(project) %>  </h2>
				<% project.proposals.each do |p| %>
					<p> <strong>
						<%= link_to proposal_path(p) do %>
						<%= p.title %>:
					  <% end %>
					</strong> <%= p.summary %> | <%= p.cached_votes_up %> votos</p>
				<% end %>
			</div>
		</div>

	  <div class="tabs-panel" id="<%= dom_id(project) %>panel2d">
	    <div class="row">
				<h4>Talleres de Dise침o </h2>
				<% project.design_events.each do |d| %>
					<p>
						<i class="fa fa-calendar"> </i> <%= d.starts_at.strftime("%d/%m/%Y %H:%M") %>
							| <i class="fa fa-map-marker"> </i> <%= d.place %>
						<% unless d.pax.nil? %>
							| <i class="fa fa-users"> </i> <%= d.pax %> asistentes
						<% end %>
					</p>
					<p> <%= d.name %>:
						<% if !d.summary.empty? %> <%= d.summary %>
						<% else %> <%= d.description %>  <% end %>
					</p>
				<% end %>


	    </div>
	  </div>

	  <!-- <div class="tabs-panel" id="<%= dom_id(project) %>panel3d">
			<div class="row">
				<h4>Implementaci칩n</h2>

	    </div>
	  </div>

	  <div class="tabs-panel" id="<%= dom_id(project) %>panel4d">
			<div class="row">
				<h4>Evaluaci칩n</h2>

			</div>
	  </div> -->

	</div>
</div>
