<%= form_for(@proposal, url: proposals_path(@problem)) do |f| %>
  <%= render 'shared/errors', resource: @proposal %>

    <% @problem.geozones.map(&:id).each do |id| %>
      <%= hidden_field_tag "proposal[geozone_ids][]", id %>
    <% end %>

    <%= f.hidden_field :problem_id, :value => @problem.id %>

    <%= f.hidden_field :problem, :value => @problem.id %>

    <div class="">

      <% if current_user.administrator? %>
        <hr>
        <p class="home-info-dates label float-right"> Vista disponible solo pa admin </p>
        <h4>Creación de propuestas en nombre de otra persona</h4>
        <p>Si existe una persona que no tenga correo eléctronico, puedes crear propuestas en nombre de esta.</p>

        <ol class="admin">
          <li class="small-12 medium-12 large-12 column ">
            <%= f.label :responsible_name, t("proposals.form.proposal_responsible_name") %>
            <%= f.text_field :responsible_name, placeholder: t("proposals.form.proposal_responsible_name"), label: false %>
          </li>
          <li class="small-12 medium-12 large-12 column ">
            <%= f.label :responsible_phone, "Teléfono de contacto" %>
            <%= f.text_field :responsible_phone, label: false %>
          </li>
          <li class="small-12 medium-12 large-12 column ">
            <%= f.label :responsible_id, "Rut" %>
            <%= f.text_field :responsible_id, label: false %>
          </li>
        </ol>
        <hr>

      <% end %>

      <ol>
        <!-- 1.Title -->
        <li class="small-12 medium-12 large-12 column ">
          <%= f.label :title, t("proposals.form.proposal_title") %>
          <%= f.text_field :title, maxlength: Proposal.title_max_length, placeholder: t("proposals.form.proposal_title"), label: false, data: {js_suggest_result: "js_suggest_result", js_suggest: "#js-suggest", js_url: suggest_proposals_path}%>
        </li>

        <!-- 2.Description -->
        <li class="small-12 medium-12 large-12 column ">
          <%= f.label :description, t("proposals.form.proposal_text") %>
          <p class="note"><%= t("proposals.form.proposal_description_note") %></p>
          <%= f.text_area :description, rows: 5, label: false %>
        </li>


        <!-- 3.Summary -->
        <li class="small-12 medium-12 large-12 column ">
          <%= f.label :summary, t("proposals.form.proposal_summary") %>
          <p class="note"><%= t("proposals.form.proposal_summary_note") %></p>
          <%= f.text_area :summary, rows: 3, maxlength: 200, label: false %>
        </li>


        <div id="js-suggest"></div>


        <li class="small-12 medium-12 large-12 column">
          <%= f.label :tag_list, t("proposals.form.tags_label") %>
          <p class="note"><%= t("proposals.form.tags_instructions") %></p>

          <div id="category_tags" class="tags">
            <% @categories.each do |tag| %>
              <a class="js-add-tag-link"><%= tag.name %></a>
            <% end %>
          </div>

          <br>
          <%= f.text_field :tag_list, value: @proposal.tag_list.to_s,
                            label: false,
                            placeholder: t("proposals.form.tags_placeholder"),
                            class: 'js-tag-list' %>
        </li>

        <ul class="accordion small-12 medium-12 large-12 column" data-accordion>
          <li class="accordion-item" data-accordion-item>
            <a href="#" class=""><p>¿Quiéres agregar más información?</p></a>
            <div class="accordion-content" data-tab-content>
              <%= f.label :video_url, t("proposals.form.proposal_video_url") %>
              <p class="note"><%= t("proposals.form.proposal_video_url_note") %></p>
              <%= f.text_field :video_url, placeholder: t("proposals.form.proposal_video_url"), label: false %>
              <%= f.label :external_url, t("proposals.form.proposal_external_url") %>
              <p class="note"><%= t("proposals.form.proposal_document_note") %></p>
              <%= f.text_field :external_url, placeholder: t("proposals.form.proposal_external_url"), label: false %>
            </div>
          </li>
        </ul>

        <% if current_user.unverified? %>
          <li class="small-12 medium-12 large-12 column">
            <%= f.label :responsible_name, t("proposals.form.proposal_responsible_name") %>
            <p class="note"><%= t("proposals.form.proposal_responsible_name_note") %></p>
            <%= f.text_field :responsible_name, placeholder: t("proposals.form.proposal_responsible_name"), label: false %>
          </li>
        <% end %>
      </ol>

      <div class="small-12 column">
        <% if @proposal.new_record? %>
          <%= f.label :terms_of_service do %>
            <%= f.check_box :terms_of_service, title: t('form.accept_terms_title'), label: false %>
            <span class="checkbox">
              <%= t("form.accept_terms",
                  conditions: link_to(t("form.conditions"), "/conditions", target: "blank")).html_safe %>
            </span>
          <% end %>
        <% end %>
      </div>

      <div class="actions small-12 column">
        <%= f.submit(class: "button float-right", value: t("proposals.#{action_name}.form.submit_button")) %>
      </div>
    </div>
  </div>
<% end %>
