
<% if !user_signed_in? %>
  <div class="js-support-allowed">
<% else %>
  <div>
<% end %>

  <%= link_to ' Ver más', namespaced_proposal_path(proposal), class: "button tiny secondary" %>
  <span class="in-favor">
    <!-- Si el usuario ya voto mostrar RRSS -->
    <% if voted_for?(@proposal_votes, proposal) %>
      <% if setting['twitter_handle'] %>
        <div class="share-supported">
          <div class="bg-blue padding">
            <span> <%= t("proposals.proposal.already_supported") %> </span>
            <%= social_share_button_tag("#{proposal.title} #{setting['twitter_hashtag']}", url: proposal_url(proposal), via: setting['twitter_handle']) %>
          </div>
        </div>
      <% else %>
        <div class="bg-blue padding">
          <%= t("proposals.proposal.already_supported") %>
        </div>
      <% end %>
    <!-- Si el usuario esta registrado y puede apoyar la propuesta -->
    <% elsif user_signed_in? && proposal.supported_by?(current_user) %>
      <%= link_to vote_url,
            class: "button primary button-support" + ' ' + button_support_class,
            title: t('proposals.proposal.support_title'), method: "post", remote: true do %>
            <%= t("proposals.proposal.support") %>
      <% end %>
    <!-- Si el usuario no está registrado que le aparezca el botón, pero no funcione -->
    <% else %>
      <div class="button primary button-support <%= button_support_class %>">
        <%= t("proposals.proposal.support") %>
      </div>
    <% end %>
  </span>

</div>

  <% if user_signed_in? && current_user.organization? %>
    <div class="participation-not-allowed" style='display:none' aria-hidden="false">
      <p>
        <%= t("votes.organizations") %>
      </p>
    </div>
  <% elsif user_signed_in? && !proposal.supported_by?(current_user) %>
      <div class="participation-not-allowed" style='display:none' aria-hidden="false">
        <p>
          <%= t("votes.verified_only",
              verify_account: link_to(t("votes.verify_account"), verification_path )).html_safe %>
        </p>
      </div>
  <% elsif !user_signed_in? %>
    <div class="supports votes js-support-not-allowed bg-light-gray" style='display:none' aria-hidden="false">
      <div class="text-center"> No registrado
        <%= t("votes.unauthenticated",
          signin: link_to(t("votes.signin"), new_user_session_path),
          signup: link_to(t("votes.signup"), new_user_registration_path)).html_safe %>
      </div>
    </div>
  <% end %>
