<% provide :title do %><%= t('proposals.index.title') %><% end %>
<% content_for :header_addon do %>
  <%= render "shared/search_form",
             search_path: proposals_path(page: 1),
             i18n_namespace: "proposals.index.search_form" %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposals_url %>
<% end %>

<main>
  <h1 class="sr-only"><%= t("shared.outline.proposals") %></h1>

  <div class="text-width">
    <div id="proposals" class="proposals-list">

      <div class="padding">
        <div class="small-12 search-results">
          <% if @search_terms || @advanced_search_terms %>
            <p class="padding bg-light-gray">
              <%= page_entries_info @proposals %>
              <% if !@advanced_search_terms %>
                <%= t("proposals.index.search_results", count: @proposals.size, search_term: @search_terms) %>
              <% end %>
            </p>
          <% elsif @tag_filter %>
            <p class="padding bg-light-gray">
              <%= page_entries_info @proposals %>
              <%= t("proposals.index.filter_topic", count: @proposals.size, topic: @tag_filter) %>
            </p>
          <% elsif params[:retired].present? %>
            <p class="padding bg-light-gray"><%= t("proposals.index.retired_proposals") %></p>
          <% end %>
        </div>

        <h1 class="title-page"><%= t("titles.proposals")%> </h1>
        <p> <%= Setting["section.proposal_subtitle"] %> </p>
      </div>
    </div>
  </div>

  <% if Proposal.any? %>
    <div class="text-width">
      <div class="row collapse">
        <div class="small-12 medium-4 large-4 columns">
          <%= yield :header_addon %>
        </div>
        <div class="small-12 medium-8 large-8 columns">
          <%= render("shared/advanced_search", search_path: proposals_path(page: 1)) unless params[:retired].present? %>
        </div>
      </div>
      <%= render 'shared/order_links', i18n_namespace: "proposals.index" %>
      <div class="show-for-small-only">
        <%= link_to t("proposals.index.start_proposal"), new_proposal_path, class: 'button' %>
      </div>
    </div>
  <% end %>

  <div id="proposals-list">
    <% if Problem.any? %>
      <div class="text-width">
        <ul class="tabs" data-tabs id="challenges-tabs">
          <li class="tabs-title is-active subtitle"><a href="#panel<%=Problem.pop.id%>" aria-selected="true"><%= Problem.pop.title %></a></li>
          <% Problem.clip.each do |problem| %>
            <li class="tabs-title"><a href="#panel<%=problem.id%>" aria-selected="true"><%= problem.title %></a></li>
          <% end %>
        </ul>
      </div>

        <div class="tabs-content row no-gutter" data-tabs-content="challenges-tabs">
          <div class="tabs-panel is-active" id="panel<%=Problem.pop.id%>">
            <%= render "problem", problem: Problem.pop %>
          </div>
          <% Problem.clip.each do |problem| %>
            <div class="tabs-panel" id="panel<%=problem.id%>">
              <%= render "problem", problem: problem %>
            </div>
          <% end %>
        </div>
    <% end %>
    <div class="text-width">
      <%= render partial: 'proposals/proposal', collection: @proposals %>
      <%= paginate @proposals %>
    </div>
  </div>


</main>
