<div class="small-12 medium-12 column">
  <%= render "shared/back_link" %>
</div>

<div class="text-width">

  <%= render "shared/problem", problem: @problem %>

  <p>
    <% unless @project.implementation_starts_at.nil? || @project.implementation_starts_at.empty? %>
      <i class="fa fa-calendar"> </i> Fecha inicio: <%= @project.implementation_starts_at %>
    <% end %>
    <% unless @project.implementation_ends_at.nil? || @project.implementation_ends_at.empty? %>
      <span class="line-text">|</span> <i class="fa fa-calendar"> </i> Fecha término: <%= @project.implementation_ends_at %>
    <% end %>
    <% unless @project.responsible_neighbour_name.nil? || @project.responsible_neighbour_name.empty? %>
      <span class="line-text">|</span> <i class="fa fa-calendar"> </i> Encargado vecinal: <%= @project.responsible_neighbour_name %>
    <% end %>
    <hr>
  </p>

  <% @reports.each do |report| %>
    <h4 class="small blue"> Reporte <%= report.created_at.strftime("%d.%m.%Y") %> </h4>
    <p> <%= report.description %> </p>


    <div class="gallery row">
      <% report.pictures.each do |pic| %>
        <% if pic.image.exists?  %>
          <div class="small-12 medium-4 column">
            <%= image_tag pic.image.url(:big) %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

</div>
